#!/bin/bash
export ETL_EMAIL="your_email@example.com"
export ETL_EMAIL_PASSWORD="your_email_password"
export DB_PASSWORD="your_db_password"

# Set the project root directory
export PROJECT_ROOT="/home/yostfundsadmin/client_etl_workflow"

# Set the Python path
export PYTHONPATH="${PYTHONPATH}:${PROJECT_ROOT}"

# Activate the virtual environment
source "${PROJECT_ROOT}/venv/bin/activate"
